<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Search Results</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/News-Cards.css">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
</head>




<body>
    {%for i in searchResult%}
    <figure class="snip1527">
  <div class="image"><img src={{i["thumbnails"][0]["url"]}} alt="thumbnail" /></div>
  <figcaption>
    <p>{{i["title"]}}</p>

  </figcaption>
  <a href="https://MusicPlayer.virajman3.repl.co/download?query=https://www.youtube.com/watch?v={{i["id"]}}"></a>
</figure>
{%endfor%}

    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>